.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1661264083807-5e6a54fb12da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.create {
  text-align: center;
  color: #101010;
}
.notes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
